extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Erik Lopez

        //- Feel free personalize the title below
        p.lead.text-light
          | I am a someone who constantly strives to improve my knowledge of software development by learning new concepts everyday in order to become a developer

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | I am currently studying to become either a Front End or Full Stack JavaScript Developer. I have built several projects to show what I've learned so far. The reason I would like to be part of the tech industry is because I am a creative person that likes to constantly be learning, as well as be challenged in order to improve my skillset, the tech industry provides all of that.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        
        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Node.js server side programming experience
          li express 
          li html
          li css
          li javascript
          li jquery 
          li npm
          li Knowledge of object oriented programming concepts
          li Experience in working with pug module
          li Nodemon 
          
        h6 Contact Info

        //- Add your own contact info
        ul
          li 678-849-0211
          li ericklo1094011@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/eriklopez17' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/SpaceXar20' target="_blank") GitHub
        //- a.button.expanded(href='') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  