//- This pug is done
extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      //- Add a title or heading like My Portfolio, or Hey, Potential Employers, or Let's make the web great together! 
      h1 My collection of websites I have done

      //- Add a description for your portfolio, what this project is, it's purpose, what it's supposed to accomplish, etc. 
      p.lead.text-light
        | This is my portfolio that shows my current skill set. I am also currently learning about React and I really am excited in learning how to make apps
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      
      .cell
        a(href='/project:0')
          img.thumbnail(src='static/images/project-0-main-pic.png')
          h5 A random quote generator

      .cell
        a(href='/project:1')
          img.thumbnail(src='static/images/project-1-main-pic.png')
          h5 List Pagination and Filtering

      .cell
        a(href='/project:2')
          img.thumbnail(src='static/images/project-2-main-pic.png')
          h5 Interactive Form

      .cell
        a(href='/project:3')
          img.thumbnail(src='static/images/project-3-main-pic.png')
          h5 OOP Game Show App

      .cell
        a(href='/project:4')
          img.thumbnail(src='static/images/project-4-main-pic.png')
          h5 Public API Requests    